---
layout: default
---

<div class="home">

    <div class="wrap wrap-pad">

    <div class="box-3">

        <div class="short-presentation">

            <p><i><b>Ulrica Skarin</b><br />{{ site.description }}</i></p>

            <hr />

            <br />

        </div>

        <!--Lists blog posts when unfolded link:-->
        <p><a href="#allposts">&hearts; Show all posts</a></p>

        <div class="catblock" id="allposts">

        <!--To do - make an archives page for posts-->
            {% for post in site.posts %}

            {% assign currentdate = post.date | date: "%Y" %}

            {% if currentdate != date %}

            {% unless forloop.first %}</ul>{% endunless %}

            <h2 id="y{{post.date | date: "%y"}}">{{ currentdate }}</h2>

            <ul>
                {% assign date = currentdate %}

                {% endif %}

                <li>{{ post.date | date: "%-b %d" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>

                {% if forloop.last %}</ul>

            {% endif %}

            {% endfor %}

        </div>
<br />
        <!--Lists blog posts by category:-->
        <p><a href="#categories">&hearts; By category</a></p>

        <div class="catblock" id="categories">
            {% for category in site.categories %}
            <h2>{{ category | first }}</h2>
                     <ul>
                        {% for posts in category %}
                          {% for post in posts %}
                            {% if post.url %}
                              <li>
                                  {{ post.date | date: "%-b %d" }}: <a href="{{ post.url }}">{{ post.title }}</a></li>
                            {% endif %}
                          {% endfor %}
                       {% endfor %}
                     </ul>{% endfor %}
        </div>


    </div>

        <div class="box-2">

            <div class="post-preview">


            <!-- Lists latest blog posts with 40 word preview-->
            <h2>Latest Blogposts:</h2>

            <ul class="post-list">

                {% for post in paginator.posts  %}

                <li>

                    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                    <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                    {{ post.content | truncatewords: 40}}<br />

                    <a href="{{ post.url | prepend: site.baseurl }}">Read More...</a>

                </li>

                {% endfor %}

            </ul>

            <!-- Pagination links -->
            {% if paginator.total_pages > 1 %}

             <div class="pagination">

                 {% if paginator.previous_page %}

                 <a href="{{ paginator.previous_page_path }}" class="previous">Previous</a>

                {% else %}

                <span class="previous">Previous</span>

                {% endif %}

                <span class="page_number ">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>

                {% if paginator.next_page %}

                <a href="{{ paginator.next_page_path }}" class="next">Next</a>

                {% else %}

                <span class="next ">Next</span>

                {% endif %}

            </div>

            {% endif %}

            </div>

        </div>

    </div>

</div>
