---
layout: default
---

<div class="home">

    <div class="wrap wrap-pad">

    <div class="box-2">

        <h1 class="page-heading">A dev students quest | Blog</h1>

        <!--Lists latest blog posts with preview-->

            <h2>Latest Blogposts:</h2>

                <ul class="post-list">

                    {% for post in site.posts %}

                         <li>

                            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

                            <!-- Post preview class not working on post content - works with normal text though -->

                            <h2><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

                            <span class="post-preview">{{ post.content | truncatewords: 40}}</span><br />

                            <a href="{{ post.url | prepend: site.baseurl }}">Read More...</a>

                         </li>

                    {% endfor %}

                </ul>

    </div>

    <div class="box-3">



        <!--Lists latest 10 blog posts-->
        <div class="catblock" id="allposts">

            <h2>Blogpost List:</h2>

            <ul>

                {% for post in site.posts limit: 10 %}

                <li>

                    <a href="{{ post.url }}"> {{ post.title }}</a>

                </li>

                {% endfor %}

            </ul>

        </div>

        </div>

    </div>






</div>
