/*-------------------------------------------- RESET BASIC ELEMENTS --------------------------------------------*/
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}

/*-------------------------------------------- BASIC BODY --------------------------------------------*/
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    -webkit-text-size-adjust: 100%;
    @include background-props();
}

/*-------------------------------------------- VERTICAL RYTHM --------------------------------------------*/
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}

/*--------------------------------------------- BASIC IMAGES ---------------------------------------------*/
img {
    max-width: 100%;
    vertical-align: middle;
}

/*--------------------------------------------- BASIC FIGURES ---------------------------------------------*/
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}

/*---------------------------------------------- BASIC LIST ----------------------------------------------*/
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}

/*-------------------------------------------- BASIC HEADINGS --------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;

}

/*--------------------------------------------- BASIC LINKS ---------------------------------------------*/
a {
    color: $theme-color;
    text-decoration: none;

    &:visited {
       // no change at the moment
    }

    &:hover {
        color: $text-color;
        position: relative;
        top: 1px;
        transition: color 0.3s ease;

    }
}

/*-------------------------------------------- BASIC BL-QUOTES --------------------------------------------*/
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}

/*-------------------------------------------- CODE FORMATTING --------------------------------------------*/
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*-------------------------------------------- BASIC WRAPPERS --------------------------------------------*/

// Wraps all
#big_wrap {

    margin: 0 auto;
    max-width: 960px;
    background-color: $color-white;
    border-left: 1px solid $color-black;
    border-right: 1px solid $color-black;
    overflow: hidden;

    @include media-query($on-palm) {
        border: 0;
    }

}

// Wraps inner content
.wrapper {
    max-width: -webkit-calc(960px - (#{$spacing-unit} * 2));
    max-width:         calc(960px - (#{$spacing-unit} * 2));

    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(800px - (#{$spacing-unit}));
        max-width:         calc(800px - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}

// Wrap for synchronized boxes
.wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow: hidden;

    @include media-query($on-palm) {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 10px;
    }
}

.wrap:after {
    content: "";
    display: table;
    clear: both;
}

.wrap-pad {
    padding-top: 12px;
    padding-left: 5px;
    padding-right: 0;

}
/* BOXES width for no 1, 2, 3 */
.box-1 { width: 100%; }
.box-2 { width: 70%; }
.box-3 { width: 30%; }

/* BOXES - adjustments for all on page */
[class*='box-'] {
    float: left;
    padding-right: $spacing-unit;
    @include media-query($on-laptop) {

        width: auto;
        float: none;
        margin-left: 0;
        margin-right: 0;
        margin-top:  $spacing-unit / 2;
        margin-bottom:  $spacing-unit / 2;
        padding-left: 0;
        padding-right:  $spacing-unit / 2;

    }

}

// Box sizing
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*-------------------------------------------- CLEARFIXING --------------------------------------------*/
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

/*-------------------------------------------- ADD FEATURES --------------------------------------------*/
.twitter-div {
    font-size: $mini-font-size;
    font-style: italic;
    text-align: center;
    border: 1px dashed $grey-color;
    @include rounded(1em);
    padding: 0.2em;
    margin-top: 2em;
}

#disqus_thread {
    width: 90%;
    display: block;
    margin: 0 auto;
}

/*-------------------------------------------- BASIC ICONS --------------------------------------------*/
.icon {

    > svg {
        display: inline-block;
        width:  $spacing-unit - 5;
        height: $spacing-unit - 5;
        padding: 0.1em;
        vertical-align: middle;

        path {
            fill: $theme-color;
        }
    }
}
