//-------------------------------------------- HEADER --------------------------------------------//
.site-header {
    border-bottom: 1px solid #000;
    min-height: 200px;
    background-color: $grey-color-darker;

    // Positioning context for the mobile navigation icon
    position: relative;

}

//-------------------------------------------- SITE TITLE --------------------------------------------//
.site-title {
    font-size: 1.1em;
    line-height: 50px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    text-align: center;

    &,
    &:visited {
        color: #fff;
    }
}

//------------------------------------------ NAVIGATIONAL -------------------------------------------//
.site-nav-contain {
    background-color: #595858;
    width: 100%;
    height: 50px;
    margin-right: 1em;
    border-bottom: 1px solid #000;

    @include media-query($on-palm) {
       height: 10px;
    }

}
.site-nav {
    float: right;
    line-height: 52px;
    padding-right: 1em;
    //@include bold-upper-text;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: 20px;
        }
    }

    .page-link:hover {
        color: $theme-color;
        position: relative;
        top: 2px;

    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: 30px;
        background-color: $color-white;
        border: 2px solid black;
        padding: 0.3em;
        text-align: right;
        @include rounded(0.2em);

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;
        }
    }
}

//-------------------------------------------- BANNER PHOTO --------------------------------------------//
.banner_photo {
    margin: 0 auto;
    text-align: center;
    padding-top: 1.2em;
}

//-------------------------------------------- PAGE CONTENT --------------------------------------------//
.page-content {
    padding: $spacing-unit 0;
    min-height: 600px;
}

.page-heading {
    font-size: 20px;
}

.pagination {

    font-size: $mini-font-size * 0.90;
}

//-------------------------------------------- BLOGPOST PREVIEW --------------------------------------------//

.post-preview {
    font-size: $mini-font-size;
    padding: 0.5em;
}

//----------------------------------------------- BLOGPOSTS -----------------------------------------------//
.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
        font-size: $mini-font-size;
    }
}

.post-meta {
    font-size: $mini-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 25px;
}
.post-link:before{
    content: url("../assets/images/pin.png");
}

// If image in post this class is used:
.post-image {

    max-width: 250px;
    display: block;
    margin: 0 auto;
    padding: 0.4em;
    margin-bottom: 1em;
    @include rounded(2em);

}

.post-header {
    margin-bottom: $spacing-unit;

}

.post-title {
    font-size: 1.5em;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    padding-left: $spacing-unit - 5;
    padding-right: $spacing-unit + 5;
    margin-bottom: $spacing-unit * 2;

    p {
        font-size: $mini-font-size;
    }


    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

//----------------------------------------------- LEFT SIDE PRES -----------------------------------------------//
.short-presentation {
    font-size: $mini-font-size * 0.85;
    color: $theme-color;
}

//----------------------------------------------- SHOW ALL POSTS -----------------------------------------------//
// All categories using target to pinpoint them when clicked | Tips taken from: http://schoewilliam.fr/2015/02/10/jekyll-pro-tip-awesome-archive-page.html:
.catblock {
    font-size: $mini-font-size * 0.75;
    padding-top: 0.5em;
    padding-bottom: 1em;
    padding-left: 0.5em;
    @include box-shadow(0, 5px,5px, rgba(0, 0, 0, 0.375));
    @include element_border(1px, dashed, $grey-color-light);

    > h2 {

        font-size: $mini-font-size * 1.1;
        font-weight: bold;

    }

    > ul {

        > li {

            margin-top: 5px;
            margin-left: $spacing-unit - 60;
            text-align: left;
            list-style-type: none;
        }

    }
}

#allposts #categories:not(:target) {
    width: 100%;
    margin: 0;
    border: 1px dashed $grey-color;


    display: none;

}
#allposts #categories:target {
    animation: slidedown .5s 1;
    -webkit-animation: slidedown .5s 1;

}

@keyframes slidedown {
    from {
        opacity: 0;
        transform: translate(0, -50px);
    }
    to {
        opacity: 1;
        transform: translate(0);
    }
}
@-webkit-keyframes slidedown {
    from {
        opacity: 0;
        -webkit-transform: translate(0, -50px);
    }
    to {
        opacity: 1;
        -webkit-transform: translate(0);
    }
}

//----------------------------------------------- FOOTER -----------------------------------------------//

.site-footer {
    border-top: 1px dashed #000;
    //border-top: 1px solid $grey-color-light;
    padding: $spacing-unit 0;
    background-color: $grey-color-darker;
}

// NOT NEEDED:
.footer-heading {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: $spacing-unit / 2;
}
.footer-heading:before{
    content: "--- ";
}
.footer-heading:after{
    content: " ---";
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 0.8em;
    color: $color-white;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}
